body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    
}
.btn{
    border-radius: 20%;
    border: 10px solid black;
    width: 200px;
    height: 200px;
    margin: 2.5rem;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #919ff9;
}
.green{
    background-color: #63aac0
}

.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}